# Build artifacts
/build/
/binary/
cloud_run_hello
*.o
*.a
*.so

# vcpkg
/vcpkg/
/vcpkg_installed/
/buildtrees/
/packages/

# IDE specific
.vscode/
.vs/
.idea/
*.swp
*.swo

# Project IDX specific
.idx/

# Other
*~
